@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.wrapper {
	background-color: #F5F5F5;
	padding: 50px 0px;
}
.promise_mb_100px {
	margin-bottom: 180px;
}
[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
}
.block-title_mb_68px {
	margin-bottom: 68px;
}
.block-title__mini-title {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	margin-bottom: 33px;
}
.block-title__mini-title::before{
	content: "";
	width: 17px;
	height: 24px;
	margin-right: 16px;
	background: url('../img/promise/mark.svg') 0px -3px no-repeat;
	display: inline-block;
	vertical-align: bottom;
}
.block-title__title {
	font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.promise__items {
	display: flex;
	margin: 0px -12px;
}
.promise__item {
	padding: 12px;
	flex: 0 1 33.333%;
}
.promise__content-item {
	display: flex;
	align-items: flex-start;
}
.promise__logo-body {
	margin-right: 23px;
	flex: 0 0 63px;
}
.image {
	width: 100%;
	height: 100%;
}
.promise__column {
}
.promise__title-column {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #F2726F;
	margin-bottom: 20px;
}
.promise__text-column {
}
/* ========================================================================================================================================== */
.impact {
	background-color: #29C3BE;
}
.impact_mb_175px{
	margin-bottom: 175px;
}
.impact__container {
	display: flex;
	flex-direction: column;
}
.impact__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: -80px 0px 79px;
	position: relative;
}
.impact__top::after{
	content: "";
	width: 695px;
	height: 308px;
	background: url('../img/impact/blob.svg') 0px 0px no-repeat;
	position: absolute;
	z-index: 1;
	top: 80px;
	right: -85px;
}
.block-title_mw_415px{
	max-width: 415px;
}
.block-title__mini-title_white,
.block-title__title_white {
	color: #fff;
}
.block-title__mini-title_white::before{
	background: url('../img/impact/white_mark.svg') 0px -3px no-repeat;
}
.impact__img-body {
	flex: 0 1 498px;
	max-height: 315px;
	border-radius: 40px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.image {
}
.impact__items {
	margin-bottom: 135px;
	display: flex;
	margin: 0px -36px 134px;
}
.impact__item {
	flex: 0 1 25%;
	padding: 0px 36px;
}
.impact__content-item {
	display: flex;
}
.impact__body-logo {
	flex: 0 1 76px;
	max-height: 76px;
	margin-right: 12px;
}
.impact__column {
}
.impact__title-column {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin-bottom: 3px;
}
.impact__text-column {
	font-weight: 700;
	color: #5D62B5;
}
.impact__bottom {
	padding: 45px 70px;
	background-color: #5D62B5;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -75px;
}
.impact__text {
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
	max-width: 560px;
}
.impact__button {
	background: #F2726F;
	border-radius: 8px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	padding: 12px;
	flex: 0 0 210px;
	transition: 0.4s;
}
.impact__button:hover{
	background-color: #ff8785;
}
.end{
	border: 3px solid #F2726F;
	border-radius: 10px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
	color: #5D62B5;
	max-width: 200px;
	margin: 0px auto;
}